body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: whitesmoke;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}
header{
    margin-bottom: 0;
}


 ul {
    list-style: none;
    padding: 0;
}

 ul li {
    display: inline;
    margin: 0 10px;
}

 ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 0px;
    text-align: center;
}

footer {
    background-color:black;
    color: whitesmoke;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

.book-list {
    padding: 20px;
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
}
